# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment Variables (Crucial!)
.env
.env.local

# Python & Virtual Environment
__pycache__/
.venv/  
venv/
*.pyc

# SQLite Database (Do not push real scan data)
phantom.db
*.sqlite3